.c1{width:8.33333%}
.c2{width:16.66667%}
.c3{width:25%}
.c4{width:33.33333%}
.c5{width:41.66667%}
.c6{width:50%}
.c7{width:58.33333%}
.c8{width:66.66667%}
.c9{width:75%}
.c10{width:83.33333%}
.c11{width:91.66667%}
.c12{width:100%}
.s1{width:100%}
.s2{width:50%}
.s3{width:33.33333%}
.s4{width:25%}
.s5{width:20%}
.s6{width:16.66667%}
.s7{width:14.28571%}
.s8{width:12.5%}
.s9{width:11.11111%}
.s10{width:10%}
.s11{width:9.09091%}
.s12{width:8.33333%}
.co0{margin-left:0}
.co1{margin-left:8.33333%}
.co2{margin-left:16.66667%}
.co3{margin-left:25%}
.co4{margin-left:33.33333%}
.co5{margin-left:41.66667%}
.co6{margin-left:50%}
.co7{margin-left:58.33333%}
.co8{margin-left:66.66667%}
.co9{margin-left:75%}
.co10{margin-left:83.33333%}
.co11{margin-left:91.66667%}
.co12{margin-left:100%}
.m0{margin:0}
.m1{margin:1rem}
.m2{margin:2rem}
.m3{margin:3rem}
.m4{margin:4rem}
.mt0{margin-top:0}
.mt1{margin-top:1rem}
.mt2{margin-top:2rem}
.mt3{margin-top:3rem}
.mt4{margin-top:4rem}
.mr0{margin-right:0}
.mr1{margin-right:1rem}
.mr2{margin-right:2rem}
.mr3{margin-right:3rem}
.mr4{margin-right:4rem}
.mb0{margin-bottom:0}
.mb1{margin-bottom:1rem}
.mb2{margin-bottom:2rem}
.mb3{margin-bottom:3rem}
.mb4{margin-bottom:4rem}
.ml0{margin-left:0}
.ml1{margin-left:1rem}
.ml2{margin-left:2rem}
.ml3{margin-left:3rem}
.ml4{margin-left:4rem}
.mx0{margin-left:0;margin-right:0}
.mx1{margin-left:1rem;margin-right:1rem}
.mx2{margin-left:2rem;margin-right:2rem}
.mx3{margin-left:3rem;margin-right:3rem}
.mx4{margin-left:4rem;margin-right:4rem}
.my0{margin-top:0;margin-bottom:0}
.my1{margin-top:1rem;margin-bottom:1rem}
.my2{margin-top:2rem;margin-bottom:2rem}
.my3{margin-top:3rem;margin-bottom:3rem}
.my4{margin-top:4rem;margin-bottom:4rem}
.p0{padding:0}
.p1{padding:1rem}
.p2{padding:2rem}
.p3{padding:3rem}
.p4{padding:4rem}
.pt0{padding-top:0}
.pt1{padding-top:1rem}
.pt2{padding-top:2rem}
.pt3{padding-top:3rem}
.pt4{padding-top:4rem}
.pr0{padding-right:0}
.pr1{padding-right:1rem}
.pr2{padding-right:2rem}
.pr3{padding-right:3rem}
.pr4{padding-right:4rem}
.pb0{padding-bottom:0}
.pb1{padding-bottom:1rem}
.pb2{padding-bottom:2rem}
.pb3{padding-bottom:3rem}
.pb4{padding-bottom:4rem}
.pl0{padding-left:0}
.pl1{padding-left:1rem}
.pl2{padding-left:2rem}
.pl3{padding-left:3rem}
.pl4{padding-left:4rem}
.px0{padding-left:0;padding-right:0}
.px1{padding-left:1rem;padding-right:1rem}
.px2{padding-left:2rem;padding-right:2rem}
.px3{padding-left:3rem;padding-right:3rem}
.px4{padding-left:4rem;padding-right:4rem}
.py0{padding-top:0;padding-bottom:0}
.py1{padding-top:1rem;padding-bottom:1rem}
.py2{padding-top:2rem;padding-bottom:2rem}
.py3{padding-top:3rem;padding-bottom:3rem}
.py4{padding-top:4rem;padding-bottom:4rem}
.op0{opacity:0}
.op25{opacity:0.25}
.op50{opacity:0.5}
.op75{opacity:0.75}
.op100{opacity:1}
.bgsc{background-size:cover}
.bgsct{background-size:contain}
.bgpc{background-position:center}
.bgpt{background-position:top}
.bgpr{background-position:right}
.bgpb{background-position:bottom}
.bgpl{background-position:left}
.bgrn{background-repeat:no-repeat}
.bgrx{background-repeat:repeat-x}
.bgry{background-repeat:repeat-y}
.x{display:flex}
.xac{align-items:center}
.xab{align-items:baseline}
.xas{align-items:stretch}
.xafs{align-items:flex-start}
.xafe{align-items:flex-end}
.xdr{flex-direction:row}
.xdrr{flex-direction:row-reverse}
.xdc{flex-direction:column}
.xdcr{flex-direction:column-reverse}
.xjc{justify-content:center}
.xjb{justify-content:space-between}
.xja{justify-content:space-around}
.xjs{justify-content:flex-start}
.xje{justify-content:flex-end}
.xw{flex-wrap:wrap}
.xwr{flex-wrap:wrap-reverse}
.xwn{flex-wrap:nowrap}
.xi{flex:initial}
.xx{flex:1}
.xa{flex:auto}
.xn{flex:none}
.xo0{order:0}
.xo1{order:1}
.xo2{order:2}
.xo3{order:3}
.xo4{order:4}
.xot{order:-1}
.xob{order:99}
.df{display:flex}
.db{display:block}
.dib{display:inline-block}
.di{display:inline}
.dt{display:table}
.dtc{display:table-cell}
.dtr{display:table-row}
.dn{display:none}
.fl{float:left}
.fr{float:right}
.fn{float:none}
.cf:after{content:"";display:block;clear:both}
.oh{overflow:hidden}
.os{overflow:scroll}
.ov{overflow:visible}
.oxh{overflow-x:hidden}
.oxs{overflow-x:scroll}
.oxv{overflow-x:visible}
.oyh{overflow-y:hidden}
.oys{overflow-y:scroll}
.oyv{overflow-y:visible}
.psa{position:absolute}
.psr{position:relative}
.psf{position:fixed}
.pss{position:static}
.t0{top:0}
.r0{right:0}
.b0{bottom:0}
.l0{left:0}
.z0{z-index:0}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z4{z-index:4}
.w0{width:0}
.w100{width:100%}
.h0{height:0}
.h100{height:100%}
.vw50{width:50vw}
.vw100{width:100vw}
.vwmn50{min-width:50vw}
.vwmn100{min-width:100vw}
.vwmx50{max-width:50vw}
.vwmx100{max-width:100vw}
.vh50{height:50vh}
.vh100{height:100vh}
.vhmn50{min-height:50vh}
.vhmn100{min-height:100vh}
.vhmx50{max-height:50vh}
.vhmx100{max-height:100vh}
.ar25:before{padding-top:25%;content:"";display:block}
.ar50:before{padding-top:50%;content:"";display:block}
.ar75:before{padding-top:75%;content:"";display:block}
.ar100:before{padding-top:100%;content:"";display:block}
.fs1{font-size:1rem}
.fs1-2{font-size:1.2rem}
.fs1-6{font-size:1.6rem}
.fs2-4{font-size:2.4rem}
.fs3-2{font-size:3.2rem}
.fs6-4{font-size:6.4rem}
.lh1{line-height:1}
.lh1-5{line-height:1.5}
.fsn{font-style:normal}
.fsi{font-style:italic}
.fwn{font-weight:normal}
.fwb{font-weight:bold}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}
.taj{text-align:justify}
.toi{text-overflow:initial}
.toc{text-overflow:clip}
.toe{text-overflow:ellipsis}
.tdu{text-decoration:underline}
.tdo{text-decoration:overline}
.tdlt{text-decoration:line-through}
.tdn{text-decoration:none}
.ttu{text-transform:uppercase}
.ttl{text-transform:lowercase}
.ttc{text-transform:capitalize}
.ttn{text-transform:none}
.vabl{vertical-align:baseline}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.vab{vertical-align:bottom}
.wsn{white-space:normal}
.wsnw{white-space:nowrap}
.wsp{white-space:pre}
.wsi{white-space:inherit}
.tc1{columns:1}
.tc2{columns:2}
.tc3{columns:3}
.tc4{columns:4}
.curp{cursor:pointer}
.curd{cursor:default}
.cura{cursor:alias}
.curzi{cursor:zoom-in}
.curzo{cursor:zoom-out}
.usn{user-select:none}
.usa{user-select:auto}
.ust{user-select:text}
.pen{pointer-events:none}
.pea{pointer-events:auto}
.vh{visibility:hidden}
.vv{visibility:visible}
.dev{outline:1px solid #912eff}
.dev > * {outline:1px solid #5497ff}
.dev > * > * {outline:1px solid #51feff}
.dev > * > * > * {outline:1px solid #ff0000}
.dev > * > * > * * {outline:1px solid #00ff00}.bg-lg{background-color:#ededed}
.bg-lg-h:hover{background-color:#ededed}
.bg-dg{background-color:#5c5c5c}
.bg-dg-h:hover{background-color:#5c5c5c}
.bg-blue{background-color:rgb(0,0,255)}
.bg-blue-h:hover{background-color:rgb(0,0,255)}
.bg-bluegrey{background-color:#545475}
.bg-bluegrey-h:hover{background-color:#545475}
.bg-black{background-color:rgb(0, 0, 0)}
.bg-black-h:hover{background-color:rgb(0, 0, 0)}
.bg-white{background-color:rgb(255, 255, 255)}
.bg-white-h:hover{background-color:rgb(255, 255, 255)}
.fc-lg{color:#ededed}
.fc-lg-h:hover{color:#ededed}
.fc-dg{color:#5c5c5c}
.fc-dg-h:hover{color:#5c5c5c}
.fc-blue{color:rgb(0,0,255)}
.fc-blue-h:hover{color:rgb(0,0,255)}
.fc-bluegrey{color:#545475}
.fc-bluegrey-h:hover{color:#545475}
.fc-black{color:rgb(0, 0, 0)}
.fc-black-h:hover{color:rgb(0, 0, 0)}
.fc-white{color:rgb(255, 255, 255)}
.fc-white-h:hover{color:rgb(255, 255, 255)}
.ff-sans{font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue}
.ta{top:auto}
.tmobile{top:2.6rem}
.t0{top:0}
.t10{top:10%}
.t20{top:20%}
.t25{top:25%}
.t30{top:30%}
.t33-3{top:33.3%}
.tv6-25{top:6.25vh}
.tv12-5{top:12.5vh}
.tv15{top:15vh}
.tv20{top:20vh}
.tv25{top:25vh}
.tw25{top:25vw}
.tv75{top:75vh}
.tv100{top:100vh}
.t50{top:50%}
.t66-7{top:66.7%}
.t70{top:70%}
.t75{top:75%}
.t80{top:80%}
.t90{top:90%}
.t100{top:100%}
.la{left:auto}
.lmobile{left:2.6rem}
.l0{left:0}
.l10{left:10%}
.l20{left:20%}
.l25{left:25%}
.l30{left:30%}
.l33-3{left:33.3%}
.lv6-25{left:6.25vh}
.lv12-5{left:12.5vh}
.lv15{left:15vh}
.lv20{left:20vh}
.lv25{left:25vh}
.lw25{left:25vw}
.lv75{left:75vh}
.lv100{left:100vh}
.l50{left:50%}
.l66-7{left:66.7%}
.l70{left:70%}
.l75{left:75%}
.l80{left:80%}
.l90{left:90%}
.l100{left:100%}
.ha{height:auto}
.hmobile{height:2.6rem}
.h0{height:0}
.h10{height:10%}
.h20{height:20%}
.h25{height:25%}
.h30{height:30%}
.h33-3{height:33.3%}
.hv6-25{height:6.25vh}
.hv12-5{height:12.5vh}
.hv15{height:15vh}
.hv20{height:20vh}
.hv25{height:25vh}
.hw25{height:25vw}
.hv75{height:75vh}
.hv100{height:100vh}
.h50{height:50%}
.h66-7{height:66.7%}
.h70{height:70%}
.h75{height:75%}
.h80{height:80%}
.h90{height:90%}
.h100{height:100%}
.wa{width:auto}
.wmobile{width:2.6rem}
.w0{width:0}
.w10{width:10%}
.w20{width:20%}
.w25{width:25%}
.w30{width:30%}
.w33-3{width:33.3%}
.wv6-25{width:6.25vh}
.wv12-5{width:12.5vh}
.wv15{width:15vh}
.wv20{width:20vh}
.wv25{width:25vh}
.ww25{width:25vw}
.wv75{width:75vh}
.wv100{width:100vh}
.w50{width:50%}
.w66-7{width:66.7%}
.w70{width:70%}
.w75{width:75%}
.w80{width:80%}
.w90{width:90%}
.w100{width:100%}
.fs0-6{font-size:0.6rem}
.fs0-8{font-size:0.8rem}
.fs1{font-size:1rem}
.fs1-2{font-size:1.2rem}
.fs1-4{font-size:1.4rem}
.fs1-6{font-size:1.6rem}
.fs1-8{font-size:1.8rem}
.fs2{font-size:2rem}
.mnhmobile{min-height:calc(100vh - 2.5rem)}
.mnh75{min-height:75vh}
.mxhmobile{max-height:calc(100vh - 2.5rem)}
.mxh75{max-height:75vh}
.m0-6{margin:0.6rem}
.m0-8{margin:0.8rem}
.m2-2{margin:2.2rem}
.m2-4{margin:2.4rem}
.m2-6{margin:2.6rem}
.mt0-6{margin-top:0.6rem}
.mt0-8{margin-top:0.8rem}
.mt2-2{margin-top:2.2rem}
.mt2-4{margin-top:2.4rem}
.mt2-6{margin-top:2.6rem}
.mb0-6{margin-bottom:0.6rem}
.mb0-8{margin-bottom:0.8rem}
.mb2-2{margin-bottom:2.2rem}
.mb2-4{margin-bottom:2.4rem}
.mb2-6{margin-bottom:2.6rem}
.p0-6{padding:0.6rem}
.p0-8{padding:0.8rem}
.p2-2{padding:2.2rem}
.p2-4{padding:2.4rem}
.p2-6{padding:2.6rem}
.pt0-6{padding-top:0.6rem}
.pt0-8{padding-top:0.8rem}
.pt2-2{padding-top:2.2rem}
.pt2-4{padding-top:2.4rem}
.pt2-6{padding-top:2.6rem}
.pb0-6{padding-bottom:0.6rem}
.pb0-8{padding-bottom:0.8rem}
.pb2-2{padding-bottom:2.2rem}
.pb2-4{padding-bottom:2.4rem}
.pb2-6{padding-bottom:2.6rem}
.lsn{list-style:none}
.lh1{line-height:1rem}
.lh1-2{line-height:1.2rem}
.lh1-4{line-height:1.4rem}
.lh1-6{line-height:1.6rem}
.lh1-8{line-height:1.8rem}
.lh2{line-height:2rem}
.wbba{word-break:break-all}
.wbbw{word-break:break-word}
.try75{transform:translateY(75vh)}
.try100{transform:translateY(100vh)}
.trymobile{transform:translateY(calc(100vh - 2.6rem))}
@media (orientation: portrait), (max-width: 650px) {
[portrait~="c1"]{width:8.33333%}
[portrait~="c2"]{width:16.66667%}
[portrait~="c3"]{width:25%}
[portrait~="c4"]{width:33.33333%}
[portrait~="c5"]{width:41.66667%}
[portrait~="c6"]{width:50%}
[portrait~="c7"]{width:58.33333%}
[portrait~="c8"]{width:66.66667%}
[portrait~="c9"]{width:75%}
[portrait~="c10"]{width:83.33333%}
[portrait~="c11"]{width:91.66667%}
[portrait~="c12"]{width:100%}
[portrait~="s1"]{width:100%}
[portrait~="s2"]{width:50%}
[portrait~="s3"]{width:33.33333%}
[portrait~="s4"]{width:25%}
[portrait~="s5"]{width:20%}
[portrait~="s6"]{width:16.66667%}
[portrait~="s7"]{width:14.28571%}
[portrait~="s8"]{width:12.5%}
[portrait~="s9"]{width:11.11111%}
[portrait~="s10"]{width:10%}
[portrait~="s11"]{width:9.09091%}
[portrait~="s12"]{width:8.33333%}
[portrait~="co0"]{margin-left:0}
[portrait~="co1"]{margin-left:8.33333%}
[portrait~="co2"]{margin-left:16.66667%}
[portrait~="co3"]{margin-left:25%}
[portrait~="co4"]{margin-left:33.33333%}
[portrait~="co5"]{margin-left:41.66667%}
[portrait~="co6"]{margin-left:50%}
[portrait~="co7"]{margin-left:58.33333%}
[portrait~="co8"]{margin-left:66.66667%}
[portrait~="co9"]{margin-left:75%}
[portrait~="co10"]{margin-left:83.33333%}
[portrait~="co11"]{margin-left:91.66667%}
[portrait~="co12"]{margin-left:100%}
[portrait~="m0"]{margin:0}
[portrait~="m1"]{margin:1rem}
[portrait~="m2"]{margin:2rem}
[portrait~="m3"]{margin:3rem}
[portrait~="m4"]{margin:4rem}
[portrait~="mt0"]{margin-top:0}
[portrait~="mt1"]{margin-top:1rem}
[portrait~="mt2"]{margin-top:2rem}
[portrait~="mt3"]{margin-top:3rem}
[portrait~="mt4"]{margin-top:4rem}
[portrait~="mr0"]{margin-right:0}
[portrait~="mr1"]{margin-right:1rem}
[portrait~="mr2"]{margin-right:2rem}
[portrait~="mr3"]{margin-right:3rem}
[portrait~="mr4"]{margin-right:4rem}
[portrait~="mb0"]{margin-bottom:0}
[portrait~="mb1"]{margin-bottom:1rem}
[portrait~="mb2"]{margin-bottom:2rem}
[portrait~="mb3"]{margin-bottom:3rem}
[portrait~="mb4"]{margin-bottom:4rem}
[portrait~="ml0"]{margin-left:0}
[portrait~="ml1"]{margin-left:1rem}
[portrait~="ml2"]{margin-left:2rem}
[portrait~="ml3"]{margin-left:3rem}
[portrait~="ml4"]{margin-left:4rem}
[portrait~="mx0"]{margin-left:0;margin-right:0}
[portrait~="mx1"]{margin-left:1rem;margin-right:1rem}
[portrait~="mx2"]{margin-left:2rem;margin-right:2rem}
[portrait~="mx3"]{margin-left:3rem;margin-right:3rem}
[portrait~="mx4"]{margin-left:4rem;margin-right:4rem}
[portrait~="my0"]{margin-top:0;margin-bottom:0}
[portrait~="my1"]{margin-top:1rem;margin-bottom:1rem}
[portrait~="my2"]{margin-top:2rem;margin-bottom:2rem}
[portrait~="my3"]{margin-top:3rem;margin-bottom:3rem}
[portrait~="my4"]{margin-top:4rem;margin-bottom:4rem}
[portrait~="p0"]{padding:0}
[portrait~="p1"]{padding:1rem}
[portrait~="p2"]{padding:2rem}
[portrait~="p3"]{padding:3rem}
[portrait~="p4"]{padding:4rem}
[portrait~="pt0"]{padding-top:0}
[portrait~="pt1"]{padding-top:1rem}
[portrait~="pt2"]{padding-top:2rem}
[portrait~="pt3"]{padding-top:3rem}
[portrait~="pt4"]{padding-top:4rem}
[portrait~="pr0"]{padding-right:0}
[portrait~="pr1"]{padding-right:1rem}
[portrait~="pr2"]{padding-right:2rem}
[portrait~="pr3"]{padding-right:3rem}
[portrait~="pr4"]{padding-right:4rem}
[portrait~="pb0"]{padding-bottom:0}
[portrait~="pb1"]{padding-bottom:1rem}
[portrait~="pb2"]{padding-bottom:2rem}
[portrait~="pb3"]{padding-bottom:3rem}
[portrait~="pb4"]{padding-bottom:4rem}
[portrait~="pl0"]{padding-left:0}
[portrait~="pl1"]{padding-left:1rem}
[portrait~="pl2"]{padding-left:2rem}
[portrait~="pl3"]{padding-left:3rem}
[portrait~="pl4"]{padding-left:4rem}
[portrait~="px0"]{padding-left:0;padding-right:0}
[portrait~="px1"]{padding-left:1rem;padding-right:1rem}
[portrait~="px2"]{padding-left:2rem;padding-right:2rem}
[portrait~="px3"]{padding-left:3rem;padding-right:3rem}
[portrait~="px4"]{padding-left:4rem;padding-right:4rem}
[portrait~="py0"]{padding-top:0;padding-bottom:0}
[portrait~="py1"]{padding-top:1rem;padding-bottom:1rem}
[portrait~="py2"]{padding-top:2rem;padding-bottom:2rem}
[portrait~="py3"]{padding-top:3rem;padding-bottom:3rem}
[portrait~="py4"]{padding-top:4rem;padding-bottom:4rem}
[portrait~="op0"]{opacity:0}
[portrait~="op25"]{opacity:0.25}
[portrait~="op50"]{opacity:0.5}
[portrait~="op75"]{opacity:0.75}
[portrait~="op100"]{opacity:1}
[portrait~="bgsc"]{background-size:cover}
[portrait~="bgsct"]{background-size:contain}
[portrait~="bgpc"]{background-position:center}
[portrait~="bgpt"]{background-position:top}
[portrait~="bgpr"]{background-position:right}
[portrait~="bgpb"]{background-position:bottom}
[portrait~="bgpl"]{background-position:left}
[portrait~="bgrn"]{background-repeat:no-repeat}
[portrait~="bgrx"]{background-repeat:repeat-x}
[portrait~="bgry"]{background-repeat:repeat-y}
[portrait~="x"]{display:flex}
[portrait~="xac"]{align-items:center}
[portrait~="xab"]{align-items:baseline}
[portrait~="xas"]{align-items:stretch}
[portrait~="xafs"]{align-items:flex-start}
[portrait~="xafe"]{align-items:flex-end}
[portrait~="xdr"]{flex-direction:row}
[portrait~="xdrr"]{flex-direction:row-reverse}
[portrait~="xdc"]{flex-direction:column}
[portrait~="xdcr"]{flex-direction:column-reverse}
[portrait~="xjc"]{justify-content:center}
[portrait~="xjb"]{justify-content:space-between}
[portrait~="xja"]{justify-content:space-around}
[portrait~="xjs"]{justify-content:flex-start}
[portrait~="xje"]{justify-content:flex-end}
[portrait~="xw"]{flex-wrap:wrap}
[portrait~="xwr"]{flex-wrap:wrap-reverse}
[portrait~="xwn"]{flex-wrap:nowrap}
[portrait~="xi"]{flex:initial}
[portrait~="xx"]{flex:1}
[portrait~="xa"]{flex:auto}
[portrait~="xn"]{flex:none}
[portrait~="xo0"]{order:0}
[portrait~="xo1"]{order:1}
[portrait~="xo2"]{order:2}
[portrait~="xo3"]{order:3}
[portrait~="xo4"]{order:4}
[portrait~="xot"]{order:-1}
[portrait~="xob"]{order:99}
[portrait~="df"]{display:flex}
[portrait~="db"]{display:block}
[portrait~="dib"]{display:inline-block}
[portrait~="di"]{display:inline}
[portrait~="dt"]{display:table}
[portrait~="dtc"]{display:table-cell}
[portrait~="dtr"]{display:table-row}
[portrait~="dn"]{display:none}
[portrait~="fl"]{float:left}
[portrait~="fr"]{float:right}
[portrait~="fn"]{float:none}
[portrait~="cf"]:after{content:"";display:block;clear:both}
[portrait~="oh"]{overflow:hidden}
[portrait~="os"]{overflow:scroll}
[portrait~="ov"]{overflow:visible}
[portrait~="oxh"]{overflow-x:hidden}
[portrait~="oxs"]{overflow-x:scroll}
[portrait~="oxv"]{overflow-x:visible}
[portrait~="oyh"]{overflow-y:hidden}
[portrait~="oys"]{overflow-y:scroll}
[portrait~="oyv"]{overflow-y:visible}
[portrait~="psa"]{position:absolute}
[portrait~="psr"]{position:relative}
[portrait~="psf"]{position:fixed}
[portrait~="pss"]{position:static}
[portrait~="t0"]{top:0}
[portrait~="r0"]{right:0}
[portrait~="b0"]{bottom:0}
[portrait~="l0"]{left:0}
[portrait~="z0"]{z-index:0}
[portrait~="z1"]{z-index:1}
[portrait~="z2"]{z-index:2}
[portrait~="z3"]{z-index:3}
[portrait~="z4"]{z-index:4}
[portrait~="w0"]{width:0}
[portrait~="w100"]{width:100%}
[portrait~="h0"]{height:0}
[portrait~="h100"]{height:100%}
[portrait~="vw50"]{width:50vw}
[portrait~="vw100"]{width:100vw}
[portrait~="vwmn50"]{min-width:50vw}
[portrait~="vwmn100"]{min-width:100vw}
[portrait~="vwmx50"]{max-width:50vw}
[portrait~="vwmx100"]{max-width:100vw}
[portrait~="vh50"]{height:50vh}
[portrait~="vh100"]{height:100vh}
[portrait~="vhmn50"]{min-height:50vh}
[portrait~="vhmn100"]{min-height:100vh}
[portrait~="vhmx50"]{max-height:50vh}
[portrait~="vhmx100"]{max-height:100vh}
[portrait~="ar25"]:before{padding-top:25%;content:"";display:block}
[portrait~="ar50"]:before{padding-top:50%;content:"";display:block}
[portrait~="ar75"]:before{padding-top:75%;content:"";display:block}
[portrait~="ar100"]:before{padding-top:100%;content:"";display:block}
[portrait~="fs1"]{font-size:1rem}
[portrait~="fs1-2"]{font-size:1.2rem}
[portrait~="fs1-6"]{font-size:1.6rem}
[portrait~="fs2-4"]{font-size:2.4rem}
[portrait~="fs3-2"]{font-size:3.2rem}
[portrait~="fs6-4"]{font-size:6.4rem}
[portrait~="lh1"]{line-height:1}
[portrait~="lh1-5"]{line-height:1.5}
[portrait~="fsn"]{font-style:normal}
[portrait~="fsi"]{font-style:italic}
[portrait~="fwn"]{font-weight:normal}
[portrait~="fwb"]{font-weight:bold}
[portrait~="tal"]{text-align:left}
[portrait~="tac"]{text-align:center}
[portrait~="tar"]{text-align:right}
[portrait~="taj"]{text-align:justify}
[portrait~="toi"]{text-overflow:initial}
[portrait~="toc"]{text-overflow:clip}
[portrait~="toe"]{text-overflow:ellipsis}
[portrait~="tdu"]{text-decoration:underline}
[portrait~="tdo"]{text-decoration:overline}
[portrait~="tdlt"]{text-decoration:line-through}
[portrait~="tdn"]{text-decoration:none}
[portrait~="ttu"]{text-transform:uppercase}
[portrait~="ttl"]{text-transform:lowercase}
[portrait~="ttc"]{text-transform:capitalize}
[portrait~="ttn"]{text-transform:none}
[portrait~="vabl"]{vertical-align:baseline}
[portrait~="vat"]{vertical-align:top}
[portrait~="vam"]{vertical-align:middle}
[portrait~="vab"]{vertical-align:bottom}
[portrait~="wsn"]{white-space:normal}
[portrait~="wsnw"]{white-space:nowrap}
[portrait~="wsp"]{white-space:pre}
[portrait~="wsi"]{white-space:inherit}
[portrait~="tc1"]{columns:1}
[portrait~="tc2"]{columns:2}
[portrait~="tc3"]{columns:3}
[portrait~="tc4"]{columns:4}
[portrait~="curp"]{cursor:pointer}
[portrait~="curd"]{cursor:default}
[portrait~="cura"]{cursor:alias}
[portrait~="curzi"]{cursor:zoom-in}
[portrait~="curzo"]{cursor:zoom-out}
[portrait~="usn"]{user-select:none}
[portrait~="usa"]{user-select:auto}
[portrait~="ust"]{user-select:text}
[portrait~="pen"]{pointer-events:none}
[portrait~="pea"]{pointer-events:auto}
[portrait~="vh"]{visibility:hidden}
[portrait~="vv"]{visibility:visible}
[portrait~="dev"]{outline:1px solid #912eff}
[portrait~="dev"] > * {outline:1px solid #5497ff}
[portrait~="dev"] > * > * {outline:1px solid #51feff}
[portrait~="dev"] > * > * > * {outline:1px solid #ff0000}
[portrait~="dev"] > * > * > * * {outline:1px solid #00ff00}[portrait~="bg-lg"]{background-color:#ededed}
[portrait~="bg-lg-h"]:hover{background-color:#ededed}
[portrait~="bg-dg"]{background-color:#5c5c5c}
[portrait~="bg-dg-h"]:hover{background-color:#5c5c5c}
[portrait~="bg-blue"]{background-color:rgb(0,0,255)}
[portrait~="bg-blue-h"]:hover{background-color:rgb(0,0,255)}
[portrait~="bg-bluegrey"]{background-color:#545475}
[portrait~="bg-bluegrey-h"]:hover{background-color:#545475}
[portrait~="bg-black"]{background-color:rgb(0, 0, 0)}
[portrait~="bg-black-h"]:hover{background-color:rgb(0, 0, 0)}
[portrait~="bg-white"]{background-color:rgb(255, 255, 255)}
[portrait~="bg-white-h"]:hover{background-color:rgb(255, 255, 255)}
[portrait~="fc-lg"]{color:#ededed}
[portrait~="fc-lg-h"]:hover{color:#ededed}
[portrait~="fc-dg"]{color:#5c5c5c}
[portrait~="fc-dg-h"]:hover{color:#5c5c5c}
[portrait~="fc-blue"]{color:rgb(0,0,255)}
[portrait~="fc-blue-h"]:hover{color:rgb(0,0,255)}
[portrait~="fc-bluegrey"]{color:#545475}
[portrait~="fc-bluegrey-h"]:hover{color:#545475}
[portrait~="fc-black"]{color:rgb(0, 0, 0)}
[portrait~="fc-black-h"]:hover{color:rgb(0, 0, 0)}
[portrait~="fc-white"]{color:rgb(255, 255, 255)}
[portrait~="fc-white-h"]:hover{color:rgb(255, 255, 255)}
[portrait~="ff-sans"]{font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue}
[portrait~="ta"]{top:auto}
[portrait~="tmobile"]{top:2.6rem}
[portrait~="t0"]{top:0}
[portrait~="t10"]{top:10%}
[portrait~="t20"]{top:20%}
[portrait~="t25"]{top:25%}
[portrait~="t30"]{top:30%}
[portrait~="t33-3"]{top:33.3%}
[portrait~="tv6-25"]{top:6.25vh}
[portrait~="tv12-5"]{top:12.5vh}
[portrait~="tv15"]{top:15vh}
[portrait~="tv20"]{top:20vh}
[portrait~="tv25"]{top:25vh}
[portrait~="tw25"]{top:25vw}
[portrait~="tv75"]{top:75vh}
[portrait~="tv100"]{top:100vh}
[portrait~="t50"]{top:50%}
[portrait~="t66-7"]{top:66.7%}
[portrait~="t70"]{top:70%}
[portrait~="t75"]{top:75%}
[portrait~="t80"]{top:80%}
[portrait~="t90"]{top:90%}
[portrait~="t100"]{top:100%}
[portrait~="la"]{left:auto}
[portrait~="lmobile"]{left:2.6rem}
[portrait~="l0"]{left:0}
[portrait~="l10"]{left:10%}
[portrait~="l20"]{left:20%}
[portrait~="l25"]{left:25%}
[portrait~="l30"]{left:30%}
[portrait~="l33-3"]{left:33.3%}
[portrait~="lv6-25"]{left:6.25vh}
[portrait~="lv12-5"]{left:12.5vh}
[portrait~="lv15"]{left:15vh}
[portrait~="lv20"]{left:20vh}
[portrait~="lv25"]{left:25vh}
[portrait~="lw25"]{left:25vw}
[portrait~="lv75"]{left:75vh}
[portrait~="lv100"]{left:100vh}
[portrait~="l50"]{left:50%}
[portrait~="l66-7"]{left:66.7%}
[portrait~="l70"]{left:70%}
[portrait~="l75"]{left:75%}
[portrait~="l80"]{left:80%}
[portrait~="l90"]{left:90%}
[portrait~="l100"]{left:100%}
[portrait~="ha"]{height:auto}
[portrait~="hmobile"]{height:2.6rem}
[portrait~="h0"]{height:0}
[portrait~="h10"]{height:10%}
[portrait~="h20"]{height:20%}
[portrait~="h25"]{height:25%}
[portrait~="h30"]{height:30%}
[portrait~="h33-3"]{height:33.3%}
[portrait~="hv6-25"]{height:6.25vh}
[portrait~="hv12-5"]{height:12.5vh}
[portrait~="hv15"]{height:15vh}
[portrait~="hv20"]{height:20vh}
[portrait~="hv25"]{height:25vh}
[portrait~="hw25"]{height:25vw}
[portrait~="hv75"]{height:75vh}
[portrait~="hv100"]{height:100vh}
[portrait~="h50"]{height:50%}
[portrait~="h66-7"]{height:66.7%}
[portrait~="h70"]{height:70%}
[portrait~="h75"]{height:75%}
[portrait~="h80"]{height:80%}
[portrait~="h90"]{height:90%}
[portrait~="h100"]{height:100%}
[portrait~="wa"]{width:auto}
[portrait~="wmobile"]{width:2.6rem}
[portrait~="w0"]{width:0}
[portrait~="w10"]{width:10%}
[portrait~="w20"]{width:20%}
[portrait~="w25"]{width:25%}
[portrait~="w30"]{width:30%}
[portrait~="w33-3"]{width:33.3%}
[portrait~="wv6-25"]{width:6.25vh}
[portrait~="wv12-5"]{width:12.5vh}
[portrait~="wv15"]{width:15vh}
[portrait~="wv20"]{width:20vh}
[portrait~="wv25"]{width:25vh}
[portrait~="ww25"]{width:25vw}
[portrait~="wv75"]{width:75vh}
[portrait~="wv100"]{width:100vh}
[portrait~="w50"]{width:50%}
[portrait~="w66-7"]{width:66.7%}
[portrait~="w70"]{width:70%}
[portrait~="w75"]{width:75%}
[portrait~="w80"]{width:80%}
[portrait~="w90"]{width:90%}
[portrait~="w100"]{width:100%}
[portrait~="fs0-6"]{font-size:0.6rem}
[portrait~="fs0-8"]{font-size:0.8rem}
[portrait~="fs1"]{font-size:1rem}
[portrait~="fs1-2"]{font-size:1.2rem}
[portrait~="fs1-4"]{font-size:1.4rem}
[portrait~="fs1-6"]{font-size:1.6rem}
[portrait~="fs1-8"]{font-size:1.8rem}
[portrait~="fs2"]{font-size:2rem}
[portrait~="mnhmobile"]{min-height:calc(100vh - 2.5rem)}
[portrait~="mnh75"]{min-height:75vh}
[portrait~="mxhmobile"]{max-height:calc(100vh - 2.5rem)}
[portrait~="mxh75"]{max-height:75vh}
[portrait~="m0-6"]{margin:0.6rem}
[portrait~="m0-8"]{margin:0.8rem}
[portrait~="m2-2"]{margin:2.2rem}
[portrait~="m2-4"]{margin:2.4rem}
[portrait~="m2-6"]{margin:2.6rem}
[portrait~="mt0-6"]{margin-top:0.6rem}
[portrait~="mt0-8"]{margin-top:0.8rem}
[portrait~="mt2-2"]{margin-top:2.2rem}
[portrait~="mt2-4"]{margin-top:2.4rem}
[portrait~="mt2-6"]{margin-top:2.6rem}
[portrait~="mb0-6"]{margin-bottom:0.6rem}
[portrait~="mb0-8"]{margin-bottom:0.8rem}
[portrait~="mb2-2"]{margin-bottom:2.2rem}
[portrait~="mb2-4"]{margin-bottom:2.4rem}
[portrait~="mb2-6"]{margin-bottom:2.6rem}
[portrait~="p0-6"]{padding:0.6rem}
[portrait~="p0-8"]{padding:0.8rem}
[portrait~="p2-2"]{padding:2.2rem}
[portrait~="p2-4"]{padding:2.4rem}
[portrait~="p2-6"]{padding:2.6rem}
[portrait~="pt0-6"]{padding-top:0.6rem}
[portrait~="pt0-8"]{padding-top:0.8rem}
[portrait~="pt2-2"]{padding-top:2.2rem}
[portrait~="pt2-4"]{padding-top:2.4rem}
[portrait~="pt2-6"]{padding-top:2.6rem}
[portrait~="pb0-6"]{padding-bottom:0.6rem}
[portrait~="pb0-8"]{padding-bottom:0.8rem}
[portrait~="pb2-2"]{padding-bottom:2.2rem}
[portrait~="pb2-4"]{padding-bottom:2.4rem}
[portrait~="pb2-6"]{padding-bottom:2.6rem}
[portrait~="lsn"]{list-style:none}
[portrait~="lh1"]{line-height:1rem}
[portrait~="lh1-2"]{line-height:1.2rem}
[portrait~="lh1-4"]{line-height:1.4rem}
[portrait~="lh1-6"]{line-height:1.6rem}
[portrait~="lh1-8"]{line-height:1.8rem}
[portrait~="lh2"]{line-height:2rem}
[portrait~="wbba"]{word-break:break-all}
[portrait~="wbbw"]{word-break:break-word}
[portrait~="try75"]{transform:translateY(75vh)}
[portrait~="try100"]{transform:translateY(100vh)}
[portrait~="trymobile"]{transform:translateY(calc(100vh - 2.6rem))}
}
@media (min-width: 650px) and (max-width: 1024px) {
[small~="c1"]{width:8.33333%}
[small~="c2"]{width:16.66667%}
[small~="c3"]{width:25%}
[small~="c4"]{width:33.33333%}
[small~="c5"]{width:41.66667%}
[small~="c6"]{width:50%}
[small~="c7"]{width:58.33333%}
[small~="c8"]{width:66.66667%}
[small~="c9"]{width:75%}
[small~="c10"]{width:83.33333%}
[small~="c11"]{width:91.66667%}
[small~="c12"]{width:100%}
[small~="s1"]{width:100%}
[small~="s2"]{width:50%}
[small~="s3"]{width:33.33333%}
[small~="s4"]{width:25%}
[small~="s5"]{width:20%}
[small~="s6"]{width:16.66667%}
[small~="s7"]{width:14.28571%}
[small~="s8"]{width:12.5%}
[small~="s9"]{width:11.11111%}
[small~="s10"]{width:10%}
[small~="s11"]{width:9.09091%}
[small~="s12"]{width:8.33333%}
[small~="co0"]{margin-left:0}
[small~="co1"]{margin-left:8.33333%}
[small~="co2"]{margin-left:16.66667%}
[small~="co3"]{margin-left:25%}
[small~="co4"]{margin-left:33.33333%}
[small~="co5"]{margin-left:41.66667%}
[small~="co6"]{margin-left:50%}
[small~="co7"]{margin-left:58.33333%}
[small~="co8"]{margin-left:66.66667%}
[small~="co9"]{margin-left:75%}
[small~="co10"]{margin-left:83.33333%}
[small~="co11"]{margin-left:91.66667%}
[small~="co12"]{margin-left:100%}
[small~="m0"]{margin:0}
[small~="m1"]{margin:1rem}
[small~="m2"]{margin:2rem}
[small~="m3"]{margin:3rem}
[small~="m4"]{margin:4rem}
[small~="mt0"]{margin-top:0}
[small~="mt1"]{margin-top:1rem}
[small~="mt2"]{margin-top:2rem}
[small~="mt3"]{margin-top:3rem}
[small~="mt4"]{margin-top:4rem}
[small~="mr0"]{margin-right:0}
[small~="mr1"]{margin-right:1rem}
[small~="mr2"]{margin-right:2rem}
[small~="mr3"]{margin-right:3rem}
[small~="mr4"]{margin-right:4rem}
[small~="mb0"]{margin-bottom:0}
[small~="mb1"]{margin-bottom:1rem}
[small~="mb2"]{margin-bottom:2rem}
[small~="mb3"]{margin-bottom:3rem}
[small~="mb4"]{margin-bottom:4rem}
[small~="ml0"]{margin-left:0}
[small~="ml1"]{margin-left:1rem}
[small~="ml2"]{margin-left:2rem}
[small~="ml3"]{margin-left:3rem}
[small~="ml4"]{margin-left:4rem}
[small~="mx0"]{margin-left:0;margin-right:0}
[small~="mx1"]{margin-left:1rem;margin-right:1rem}
[small~="mx2"]{margin-left:2rem;margin-right:2rem}
[small~="mx3"]{margin-left:3rem;margin-right:3rem}
[small~="mx4"]{margin-left:4rem;margin-right:4rem}
[small~="my0"]{margin-top:0;margin-bottom:0}
[small~="my1"]{margin-top:1rem;margin-bottom:1rem}
[small~="my2"]{margin-top:2rem;margin-bottom:2rem}
[small~="my3"]{margin-top:3rem;margin-bottom:3rem}
[small~="my4"]{margin-top:4rem;margin-bottom:4rem}
[small~="p0"]{padding:0}
[small~="p1"]{padding:1rem}
[small~="p2"]{padding:2rem}
[small~="p3"]{padding:3rem}
[small~="p4"]{padding:4rem}
[small~="pt0"]{padding-top:0}
[small~="pt1"]{padding-top:1rem}
[small~="pt2"]{padding-top:2rem}
[small~="pt3"]{padding-top:3rem}
[small~="pt4"]{padding-top:4rem}
[small~="pr0"]{padding-right:0}
[small~="pr1"]{padding-right:1rem}
[small~="pr2"]{padding-right:2rem}
[small~="pr3"]{padding-right:3rem}
[small~="pr4"]{padding-right:4rem}
[small~="pb0"]{padding-bottom:0}
[small~="pb1"]{padding-bottom:1rem}
[small~="pb2"]{padding-bottom:2rem}
[small~="pb3"]{padding-bottom:3rem}
[small~="pb4"]{padding-bottom:4rem}
[small~="pl0"]{padding-left:0}
[small~="pl1"]{padding-left:1rem}
[small~="pl2"]{padding-left:2rem}
[small~="pl3"]{padding-left:3rem}
[small~="pl4"]{padding-left:4rem}
[small~="px0"]{padding-left:0;padding-right:0}
[small~="px1"]{padding-left:1rem;padding-right:1rem}
[small~="px2"]{padding-left:2rem;padding-right:2rem}
[small~="px3"]{padding-left:3rem;padding-right:3rem}
[small~="px4"]{padding-left:4rem;padding-right:4rem}
[small~="py0"]{padding-top:0;padding-bottom:0}
[small~="py1"]{padding-top:1rem;padding-bottom:1rem}
[small~="py2"]{padding-top:2rem;padding-bottom:2rem}
[small~="py3"]{padding-top:3rem;padding-bottom:3rem}
[small~="py4"]{padding-top:4rem;padding-bottom:4rem}
[small~="op0"]{opacity:0}
[small~="op25"]{opacity:0.25}
[small~="op50"]{opacity:0.5}
[small~="op75"]{opacity:0.75}
[small~="op100"]{opacity:1}
[small~="bgsc"]{background-size:cover}
[small~="bgsct"]{background-size:contain}
[small~="bgpc"]{background-position:center}
[small~="bgpt"]{background-position:top}
[small~="bgpr"]{background-position:right}
[small~="bgpb"]{background-position:bottom}
[small~="bgpl"]{background-position:left}
[small~="bgrn"]{background-repeat:no-repeat}
[small~="bgrx"]{background-repeat:repeat-x}
[small~="bgry"]{background-repeat:repeat-y}
[small~="x"]{display:flex}
[small~="xac"]{align-items:center}
[small~="xab"]{align-items:baseline}
[small~="xas"]{align-items:stretch}
[small~="xafs"]{align-items:flex-start}
[small~="xafe"]{align-items:flex-end}
[small~="xdr"]{flex-direction:row}
[small~="xdrr"]{flex-direction:row-reverse}
[small~="xdc"]{flex-direction:column}
[small~="xdcr"]{flex-direction:column-reverse}
[small~="xjc"]{justify-content:center}
[small~="xjb"]{justify-content:space-between}
[small~="xja"]{justify-content:space-around}
[small~="xjs"]{justify-content:flex-start}
[small~="xje"]{justify-content:flex-end}
[small~="xw"]{flex-wrap:wrap}
[small~="xwr"]{flex-wrap:wrap-reverse}
[small~="xwn"]{flex-wrap:nowrap}
[small~="xi"]{flex:initial}
[small~="xx"]{flex:1}
[small~="xa"]{flex:auto}
[small~="xn"]{flex:none}
[small~="xo0"]{order:0}
[small~="xo1"]{order:1}
[small~="xo2"]{order:2}
[small~="xo3"]{order:3}
[small~="xo4"]{order:4}
[small~="xot"]{order:-1}
[small~="xob"]{order:99}
[small~="df"]{display:flex}
[small~="db"]{display:block}
[small~="dib"]{display:inline-block}
[small~="di"]{display:inline}
[small~="dt"]{display:table}
[small~="dtc"]{display:table-cell}
[small~="dtr"]{display:table-row}
[small~="dn"]{display:none}
[small~="fl"]{float:left}
[small~="fr"]{float:right}
[small~="fn"]{float:none}
[small~="cf"]:after{content:"";display:block;clear:both}
[small~="oh"]{overflow:hidden}
[small~="os"]{overflow:scroll}
[small~="ov"]{overflow:visible}
[small~="oxh"]{overflow-x:hidden}
[small~="oxs"]{overflow-x:scroll}
[small~="oxv"]{overflow-x:visible}
[small~="oyh"]{overflow-y:hidden}
[small~="oys"]{overflow-y:scroll}
[small~="oyv"]{overflow-y:visible}
[small~="psa"]{position:absolute}
[small~="psr"]{position:relative}
[small~="psf"]{position:fixed}
[small~="pss"]{position:static}
[small~="t0"]{top:0}
[small~="r0"]{right:0}
[small~="b0"]{bottom:0}
[small~="l0"]{left:0}
[small~="z0"]{z-index:0}
[small~="z1"]{z-index:1}
[small~="z2"]{z-index:2}
[small~="z3"]{z-index:3}
[small~="z4"]{z-index:4}
[small~="w0"]{width:0}
[small~="w100"]{width:100%}
[small~="h0"]{height:0}
[small~="h100"]{height:100%}
[small~="vw50"]{width:50vw}
[small~="vw100"]{width:100vw}
[small~="vwmn50"]{min-width:50vw}
[small~="vwmn100"]{min-width:100vw}
[small~="vwmx50"]{max-width:50vw}
[small~="vwmx100"]{max-width:100vw}
[small~="vh50"]{height:50vh}
[small~="vh100"]{height:100vh}
[small~="vhmn50"]{min-height:50vh}
[small~="vhmn100"]{min-height:100vh}
[small~="vhmx50"]{max-height:50vh}
[small~="vhmx100"]{max-height:100vh}
[small~="ar25"]:before{padding-top:25%;content:"";display:block}
[small~="ar50"]:before{padding-top:50%;content:"";display:block}
[small~="ar75"]:before{padding-top:75%;content:"";display:block}
[small~="ar100"]:before{padding-top:100%;content:"";display:block}
[small~="fs1"]{font-size:1rem}
[small~="fs1-2"]{font-size:1.2rem}
[small~="fs1-6"]{font-size:1.6rem}
[small~="fs2-4"]{font-size:2.4rem}
[small~="fs3-2"]{font-size:3.2rem}
[small~="fs6-4"]{font-size:6.4rem}
[small~="lh1"]{line-height:1}
[small~="lh1-5"]{line-height:1.5}
[small~="fsn"]{font-style:normal}
[small~="fsi"]{font-style:italic}
[small~="fwn"]{font-weight:normal}
[small~="fwb"]{font-weight:bold}
[small~="tal"]{text-align:left}
[small~="tac"]{text-align:center}
[small~="tar"]{text-align:right}
[small~="taj"]{text-align:justify}
[small~="toi"]{text-overflow:initial}
[small~="toc"]{text-overflow:clip}
[small~="toe"]{text-overflow:ellipsis}
[small~="tdu"]{text-decoration:underline}
[small~="tdo"]{text-decoration:overline}
[small~="tdlt"]{text-decoration:line-through}
[small~="tdn"]{text-decoration:none}
[small~="ttu"]{text-transform:uppercase}
[small~="ttl"]{text-transform:lowercase}
[small~="ttc"]{text-transform:capitalize}
[small~="ttn"]{text-transform:none}
[small~="vabl"]{vertical-align:baseline}
[small~="vat"]{vertical-align:top}
[small~="vam"]{vertical-align:middle}
[small~="vab"]{vertical-align:bottom}
[small~="wsn"]{white-space:normal}
[small~="wsnw"]{white-space:nowrap}
[small~="wsp"]{white-space:pre}
[small~="wsi"]{white-space:inherit}
[small~="tc1"]{columns:1}
[small~="tc2"]{columns:2}
[small~="tc3"]{columns:3}
[small~="tc4"]{columns:4}
[small~="curp"]{cursor:pointer}
[small~="curd"]{cursor:default}
[small~="cura"]{cursor:alias}
[small~="curzi"]{cursor:zoom-in}
[small~="curzo"]{cursor:zoom-out}
[small~="usn"]{user-select:none}
[small~="usa"]{user-select:auto}
[small~="ust"]{user-select:text}
[small~="pen"]{pointer-events:none}
[small~="pea"]{pointer-events:auto}
[small~="vh"]{visibility:hidden}
[small~="vv"]{visibility:visible}
[small~="dev"]{outline:1px solid #912eff}
[small~="dev"] > * {outline:1px solid #5497ff}
[small~="dev"] > * > * {outline:1px solid #51feff}
[small~="dev"] > * > * > * {outline:1px solid #ff0000}
[small~="dev"] > * > * > * * {outline:1px solid #00ff00}[small~="bg-lg"]{background-color:#ededed}
[small~="bg-lg-h"]:hover{background-color:#ededed}
[small~="bg-dg"]{background-color:#5c5c5c}
[small~="bg-dg-h"]:hover{background-color:#5c5c5c}
[small~="bg-blue"]{background-color:rgb(0,0,255)}
[small~="bg-blue-h"]:hover{background-color:rgb(0,0,255)}
[small~="bg-bluegrey"]{background-color:#545475}
[small~="bg-bluegrey-h"]:hover{background-color:#545475}
[small~="bg-black"]{background-color:rgb(0, 0, 0)}
[small~="bg-black-h"]:hover{background-color:rgb(0, 0, 0)}
[small~="bg-white"]{background-color:rgb(255, 255, 255)}
[small~="bg-white-h"]:hover{background-color:rgb(255, 255, 255)}
[small~="fc-lg"]{color:#ededed}
[small~="fc-lg-h"]:hover{color:#ededed}
[small~="fc-dg"]{color:#5c5c5c}
[small~="fc-dg-h"]:hover{color:#5c5c5c}
[small~="fc-blue"]{color:rgb(0,0,255)}
[small~="fc-blue-h"]:hover{color:rgb(0,0,255)}
[small~="fc-bluegrey"]{color:#545475}
[small~="fc-bluegrey-h"]:hover{color:#545475}
[small~="fc-black"]{color:rgb(0, 0, 0)}
[small~="fc-black-h"]:hover{color:rgb(0, 0, 0)}
[small~="fc-white"]{color:rgb(255, 255, 255)}
[small~="fc-white-h"]:hover{color:rgb(255, 255, 255)}
[small~="ff-sans"]{font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue}
[small~="ta"]{top:auto}
[small~="tmobile"]{top:2.6rem}
[small~="t0"]{top:0}
[small~="t10"]{top:10%}
[small~="t20"]{top:20%}
[small~="t25"]{top:25%}
[small~="t30"]{top:30%}
[small~="t33-3"]{top:33.3%}
[small~="tv6-25"]{top:6.25vh}
[small~="tv12-5"]{top:12.5vh}
[small~="tv15"]{top:15vh}
[small~="tv20"]{top:20vh}
[small~="tv25"]{top:25vh}
[small~="tw25"]{top:25vw}
[small~="tv75"]{top:75vh}
[small~="tv100"]{top:100vh}
[small~="t50"]{top:50%}
[small~="t66-7"]{top:66.7%}
[small~="t70"]{top:70%}
[small~="t75"]{top:75%}
[small~="t80"]{top:80%}
[small~="t90"]{top:90%}
[small~="t100"]{top:100%}
[small~="la"]{left:auto}
[small~="lmobile"]{left:2.6rem}
[small~="l0"]{left:0}
[small~="l10"]{left:10%}
[small~="l20"]{left:20%}
[small~="l25"]{left:25%}
[small~="l30"]{left:30%}
[small~="l33-3"]{left:33.3%}
[small~="lv6-25"]{left:6.25vh}
[small~="lv12-5"]{left:12.5vh}
[small~="lv15"]{left:15vh}
[small~="lv20"]{left:20vh}
[small~="lv25"]{left:25vh}
[small~="lw25"]{left:25vw}
[small~="lv75"]{left:75vh}
[small~="lv100"]{left:100vh}
[small~="l50"]{left:50%}
[small~="l66-7"]{left:66.7%}
[small~="l70"]{left:70%}
[small~="l75"]{left:75%}
[small~="l80"]{left:80%}
[small~="l90"]{left:90%}
[small~="l100"]{left:100%}
[small~="ha"]{height:auto}
[small~="hmobile"]{height:2.6rem}
[small~="h0"]{height:0}
[small~="h10"]{height:10%}
[small~="h20"]{height:20%}
[small~="h25"]{height:25%}
[small~="h30"]{height:30%}
[small~="h33-3"]{height:33.3%}
[small~="hv6-25"]{height:6.25vh}
[small~="hv12-5"]{height:12.5vh}
[small~="hv15"]{height:15vh}
[small~="hv20"]{height:20vh}
[small~="hv25"]{height:25vh}
[small~="hw25"]{height:25vw}
[small~="hv75"]{height:75vh}
[small~="hv100"]{height:100vh}
[small~="h50"]{height:50%}
[small~="h66-7"]{height:66.7%}
[small~="h70"]{height:70%}
[small~="h75"]{height:75%}
[small~="h80"]{height:80%}
[small~="h90"]{height:90%}
[small~="h100"]{height:100%}
[small~="wa"]{width:auto}
[small~="wmobile"]{width:2.6rem}
[small~="w0"]{width:0}
[small~="w10"]{width:10%}
[small~="w20"]{width:20%}
[small~="w25"]{width:25%}
[small~="w30"]{width:30%}
[small~="w33-3"]{width:33.3%}
[small~="wv6-25"]{width:6.25vh}
[small~="wv12-5"]{width:12.5vh}
[small~="wv15"]{width:15vh}
[small~="wv20"]{width:20vh}
[small~="wv25"]{width:25vh}
[small~="ww25"]{width:25vw}
[small~="wv75"]{width:75vh}
[small~="wv100"]{width:100vh}
[small~="w50"]{width:50%}
[small~="w66-7"]{width:66.7%}
[small~="w70"]{width:70%}
[small~="w75"]{width:75%}
[small~="w80"]{width:80%}
[small~="w90"]{width:90%}
[small~="w100"]{width:100%}
[small~="fs0-6"]{font-size:0.6rem}
[small~="fs0-8"]{font-size:0.8rem}
[small~="fs1"]{font-size:1rem}
[small~="fs1-2"]{font-size:1.2rem}
[small~="fs1-4"]{font-size:1.4rem}
[small~="fs1-6"]{font-size:1.6rem}
[small~="fs1-8"]{font-size:1.8rem}
[small~="fs2"]{font-size:2rem}
[small~="mnhmobile"]{min-height:calc(100vh - 2.5rem)}
[small~="mnh75"]{min-height:75vh}
[small~="mxhmobile"]{max-height:calc(100vh - 2.5rem)}
[small~="mxh75"]{max-height:75vh}
[small~="m0-6"]{margin:0.6rem}
[small~="m0-8"]{margin:0.8rem}
[small~="m2-2"]{margin:2.2rem}
[small~="m2-4"]{margin:2.4rem}
[small~="m2-6"]{margin:2.6rem}
[small~="mt0-6"]{margin-top:0.6rem}
[small~="mt0-8"]{margin-top:0.8rem}
[small~="mt2-2"]{margin-top:2.2rem}
[small~="mt2-4"]{margin-top:2.4rem}
[small~="mt2-6"]{margin-top:2.6rem}
[small~="mb0-6"]{margin-bottom:0.6rem}
[small~="mb0-8"]{margin-bottom:0.8rem}
[small~="mb2-2"]{margin-bottom:2.2rem}
[small~="mb2-4"]{margin-bottom:2.4rem}
[small~="mb2-6"]{margin-bottom:2.6rem}
[small~="p0-6"]{padding:0.6rem}
[small~="p0-8"]{padding:0.8rem}
[small~="p2-2"]{padding:2.2rem}
[small~="p2-4"]{padding:2.4rem}
[small~="p2-6"]{padding:2.6rem}
[small~="pt0-6"]{padding-top:0.6rem}
[small~="pt0-8"]{padding-top:0.8rem}
[small~="pt2-2"]{padding-top:2.2rem}
[small~="pt2-4"]{padding-top:2.4rem}
[small~="pt2-6"]{padding-top:2.6rem}
[small~="pb0-6"]{padding-bottom:0.6rem}
[small~="pb0-8"]{padding-bottom:0.8rem}
[small~="pb2-2"]{padding-bottom:2.2rem}
[small~="pb2-4"]{padding-bottom:2.4rem}
[small~="pb2-6"]{padding-bottom:2.6rem}
[small~="lsn"]{list-style:none}
[small~="lh1"]{line-height:1rem}
[small~="lh1-2"]{line-height:1.2rem}
[small~="lh1-4"]{line-height:1.4rem}
[small~="lh1-6"]{line-height:1.6rem}
[small~="lh1-8"]{line-height:1.8rem}
[small~="lh2"]{line-height:2rem}
[small~="wbba"]{word-break:break-all}
[small~="wbbw"]{word-break:break-word}
[small~="try75"]{transform:translateY(75vh)}
[small~="try100"]{transform:translateY(100vh)}
[small~="trymobile"]{transform:translateY(calc(100vh - 2.6rem))}
}
@media (max-height: 500px) and (min-width: 650px) {
[short~="c1"]{width:8.33333%}
[short~="c2"]{width:16.66667%}
[short~="c3"]{width:25%}
[short~="c4"]{width:33.33333%}
[short~="c5"]{width:41.66667%}
[short~="c6"]{width:50%}
[short~="c7"]{width:58.33333%}
[short~="c8"]{width:66.66667%}
[short~="c9"]{width:75%}
[short~="c10"]{width:83.33333%}
[short~="c11"]{width:91.66667%}
[short~="c12"]{width:100%}
[short~="s1"]{width:100%}
[short~="s2"]{width:50%}
[short~="s3"]{width:33.33333%}
[short~="s4"]{width:25%}
[short~="s5"]{width:20%}
[short~="s6"]{width:16.66667%}
[short~="s7"]{width:14.28571%}
[short~="s8"]{width:12.5%}
[short~="s9"]{width:11.11111%}
[short~="s10"]{width:10%}
[short~="s11"]{width:9.09091%}
[short~="s12"]{width:8.33333%}
[short~="co0"]{margin-left:0}
[short~="co1"]{margin-left:8.33333%}
[short~="co2"]{margin-left:16.66667%}
[short~="co3"]{margin-left:25%}
[short~="co4"]{margin-left:33.33333%}
[short~="co5"]{margin-left:41.66667%}
[short~="co6"]{margin-left:50%}
[short~="co7"]{margin-left:58.33333%}
[short~="co8"]{margin-left:66.66667%}
[short~="co9"]{margin-left:75%}
[short~="co10"]{margin-left:83.33333%}
[short~="co11"]{margin-left:91.66667%}
[short~="co12"]{margin-left:100%}
[short~="m0"]{margin:0}
[short~="m1"]{margin:1rem}
[short~="m2"]{margin:2rem}
[short~="m3"]{margin:3rem}
[short~="m4"]{margin:4rem}
[short~="mt0"]{margin-top:0}
[short~="mt1"]{margin-top:1rem}
[short~="mt2"]{margin-top:2rem}
[short~="mt3"]{margin-top:3rem}
[short~="mt4"]{margin-top:4rem}
[short~="mr0"]{margin-right:0}
[short~="mr1"]{margin-right:1rem}
[short~="mr2"]{margin-right:2rem}
[short~="mr3"]{margin-right:3rem}
[short~="mr4"]{margin-right:4rem}
[short~="mb0"]{margin-bottom:0}
[short~="mb1"]{margin-bottom:1rem}
[short~="mb2"]{margin-bottom:2rem}
[short~="mb3"]{margin-bottom:3rem}
[short~="mb4"]{margin-bottom:4rem}
[short~="ml0"]{margin-left:0}
[short~="ml1"]{margin-left:1rem}
[short~="ml2"]{margin-left:2rem}
[short~="ml3"]{margin-left:3rem}
[short~="ml4"]{margin-left:4rem}
[short~="mx0"]{margin-left:0;margin-right:0}
[short~="mx1"]{margin-left:1rem;margin-right:1rem}
[short~="mx2"]{margin-left:2rem;margin-right:2rem}
[short~="mx3"]{margin-left:3rem;margin-right:3rem}
[short~="mx4"]{margin-left:4rem;margin-right:4rem}
[short~="my0"]{margin-top:0;margin-bottom:0}
[short~="my1"]{margin-top:1rem;margin-bottom:1rem}
[short~="my2"]{margin-top:2rem;margin-bottom:2rem}
[short~="my3"]{margin-top:3rem;margin-bottom:3rem}
[short~="my4"]{margin-top:4rem;margin-bottom:4rem}
[short~="p0"]{padding:0}
[short~="p1"]{padding:1rem}
[short~="p2"]{padding:2rem}
[short~="p3"]{padding:3rem}
[short~="p4"]{padding:4rem}
[short~="pt0"]{padding-top:0}
[short~="pt1"]{padding-top:1rem}
[short~="pt2"]{padding-top:2rem}
[short~="pt3"]{padding-top:3rem}
[short~="pt4"]{padding-top:4rem}
[short~="pr0"]{padding-right:0}
[short~="pr1"]{padding-right:1rem}
[short~="pr2"]{padding-right:2rem}
[short~="pr3"]{padding-right:3rem}
[short~="pr4"]{padding-right:4rem}
[short~="pb0"]{padding-bottom:0}
[short~="pb1"]{padding-bottom:1rem}
[short~="pb2"]{padding-bottom:2rem}
[short~="pb3"]{padding-bottom:3rem}
[short~="pb4"]{padding-bottom:4rem}
[short~="pl0"]{padding-left:0}
[short~="pl1"]{padding-left:1rem}
[short~="pl2"]{padding-left:2rem}
[short~="pl3"]{padding-left:3rem}
[short~="pl4"]{padding-left:4rem}
[short~="px0"]{padding-left:0;padding-right:0}
[short~="px1"]{padding-left:1rem;padding-right:1rem}
[short~="px2"]{padding-left:2rem;padding-right:2rem}
[short~="px3"]{padding-left:3rem;padding-right:3rem}
[short~="px4"]{padding-left:4rem;padding-right:4rem}
[short~="py0"]{padding-top:0;padding-bottom:0}
[short~="py1"]{padding-top:1rem;padding-bottom:1rem}
[short~="py2"]{padding-top:2rem;padding-bottom:2rem}
[short~="py3"]{padding-top:3rem;padding-bottom:3rem}
[short~="py4"]{padding-top:4rem;padding-bottom:4rem}
[short~="op0"]{opacity:0}
[short~="op25"]{opacity:0.25}
[short~="op50"]{opacity:0.5}
[short~="op75"]{opacity:0.75}
[short~="op100"]{opacity:1}
[short~="bgsc"]{background-size:cover}
[short~="bgsct"]{background-size:contain}
[short~="bgpc"]{background-position:center}
[short~="bgpt"]{background-position:top}
[short~="bgpr"]{background-position:right}
[short~="bgpb"]{background-position:bottom}
[short~="bgpl"]{background-position:left}
[short~="bgrn"]{background-repeat:no-repeat}
[short~="bgrx"]{background-repeat:repeat-x}
[short~="bgry"]{background-repeat:repeat-y}
[short~="x"]{display:flex}
[short~="xac"]{align-items:center}
[short~="xab"]{align-items:baseline}
[short~="xas"]{align-items:stretch}
[short~="xafs"]{align-items:flex-start}
[short~="xafe"]{align-items:flex-end}
[short~="xdr"]{flex-direction:row}
[short~="xdrr"]{flex-direction:row-reverse}
[short~="xdc"]{flex-direction:column}
[short~="xdcr"]{flex-direction:column-reverse}
[short~="xjc"]{justify-content:center}
[short~="xjb"]{justify-content:space-between}
[short~="xja"]{justify-content:space-around}
[short~="xjs"]{justify-content:flex-start}
[short~="xje"]{justify-content:flex-end}
[short~="xw"]{flex-wrap:wrap}
[short~="xwr"]{flex-wrap:wrap-reverse}
[short~="xwn"]{flex-wrap:nowrap}
[short~="xi"]{flex:initial}
[short~="xx"]{flex:1}
[short~="xa"]{flex:auto}
[short~="xn"]{flex:none}
[short~="xo0"]{order:0}
[short~="xo1"]{order:1}
[short~="xo2"]{order:2}
[short~="xo3"]{order:3}
[short~="xo4"]{order:4}
[short~="xot"]{order:-1}
[short~="xob"]{order:99}
[short~="df"]{display:flex}
[short~="db"]{display:block}
[short~="dib"]{display:inline-block}
[short~="di"]{display:inline}
[short~="dt"]{display:table}
[short~="dtc"]{display:table-cell}
[short~="dtr"]{display:table-row}
[short~="dn"]{display:none}
[short~="fl"]{float:left}
[short~="fr"]{float:right}
[short~="fn"]{float:none}
[short~="cf"]:after{content:"";display:block;clear:both}
[short~="oh"]{overflow:hidden}
[short~="os"]{overflow:scroll}
[short~="ov"]{overflow:visible}
[short~="oxh"]{overflow-x:hidden}
[short~="oxs"]{overflow-x:scroll}
[short~="oxv"]{overflow-x:visible}
[short~="oyh"]{overflow-y:hidden}
[short~="oys"]{overflow-y:scroll}
[short~="oyv"]{overflow-y:visible}
[short~="psa"]{position:absolute}
[short~="psr"]{position:relative}
[short~="psf"]{position:fixed}
[short~="pss"]{position:static}
[short~="t0"]{top:0}
[short~="r0"]{right:0}
[short~="b0"]{bottom:0}
[short~="l0"]{left:0}
[short~="z0"]{z-index:0}
[short~="z1"]{z-index:1}
[short~="z2"]{z-index:2}
[short~="z3"]{z-index:3}
[short~="z4"]{z-index:4}
[short~="w0"]{width:0}
[short~="w100"]{width:100%}
[short~="h0"]{height:0}
[short~="h100"]{height:100%}
[short~="vw50"]{width:50vw}
[short~="vw100"]{width:100vw}
[short~="vwmn50"]{min-width:50vw}
[short~="vwmn100"]{min-width:100vw}
[short~="vwmx50"]{max-width:50vw}
[short~="vwmx100"]{max-width:100vw}
[short~="vh50"]{height:50vh}
[short~="vh100"]{height:100vh}
[short~="vhmn50"]{min-height:50vh}
[short~="vhmn100"]{min-height:100vh}
[short~="vhmx50"]{max-height:50vh}
[short~="vhmx100"]{max-height:100vh}
[short~="ar25"]:before{padding-top:25%;content:"";display:block}
[short~="ar50"]:before{padding-top:50%;content:"";display:block}
[short~="ar75"]:before{padding-top:75%;content:"";display:block}
[short~="ar100"]:before{padding-top:100%;content:"";display:block}
[short~="fs1"]{font-size:1rem}
[short~="fs1-2"]{font-size:1.2rem}
[short~="fs1-6"]{font-size:1.6rem}
[short~="fs2-4"]{font-size:2.4rem}
[short~="fs3-2"]{font-size:3.2rem}
[short~="fs6-4"]{font-size:6.4rem}
[short~="lh1"]{line-height:1}
[short~="lh1-5"]{line-height:1.5}
[short~="fsn"]{font-style:normal}
[short~="fsi"]{font-style:italic}
[short~="fwn"]{font-weight:normal}
[short~="fwb"]{font-weight:bold}
[short~="tal"]{text-align:left}
[short~="tac"]{text-align:center}
[short~="tar"]{text-align:right}
[short~="taj"]{text-align:justify}
[short~="toi"]{text-overflow:initial}
[short~="toc"]{text-overflow:clip}
[short~="toe"]{text-overflow:ellipsis}
[short~="tdu"]{text-decoration:underline}
[short~="tdo"]{text-decoration:overline}
[short~="tdlt"]{text-decoration:line-through}
[short~="tdn"]{text-decoration:none}
[short~="ttu"]{text-transform:uppercase}
[short~="ttl"]{text-transform:lowercase}
[short~="ttc"]{text-transform:capitalize}
[short~="ttn"]{text-transform:none}
[short~="vabl"]{vertical-align:baseline}
[short~="vat"]{vertical-align:top}
[short~="vam"]{vertical-align:middle}
[short~="vab"]{vertical-align:bottom}
[short~="wsn"]{white-space:normal}
[short~="wsnw"]{white-space:nowrap}
[short~="wsp"]{white-space:pre}
[short~="wsi"]{white-space:inherit}
[short~="tc1"]{columns:1}
[short~="tc2"]{columns:2}
[short~="tc3"]{columns:3}
[short~="tc4"]{columns:4}
[short~="curp"]{cursor:pointer}
[short~="curd"]{cursor:default}
[short~="cura"]{cursor:alias}
[short~="curzi"]{cursor:zoom-in}
[short~="curzo"]{cursor:zoom-out}
[short~="usn"]{user-select:none}
[short~="usa"]{user-select:auto}
[short~="ust"]{user-select:text}
[short~="pen"]{pointer-events:none}
[short~="pea"]{pointer-events:auto}
[short~="vh"]{visibility:hidden}
[short~="vv"]{visibility:visible}
[short~="dev"]{outline:1px solid #912eff}
[short~="dev"] > * {outline:1px solid #5497ff}
[short~="dev"] > * > * {outline:1px solid #51feff}
[short~="dev"] > * > * > * {outline:1px solid #ff0000}
[short~="dev"] > * > * > * * {outline:1px solid #00ff00}[short~="bg-lg"]{background-color:#ededed}
[short~="bg-lg-h"]:hover{background-color:#ededed}
[short~="bg-dg"]{background-color:#5c5c5c}
[short~="bg-dg-h"]:hover{background-color:#5c5c5c}
[short~="bg-blue"]{background-color:rgb(0,0,255)}
[short~="bg-blue-h"]:hover{background-color:rgb(0,0,255)}
[short~="bg-bluegrey"]{background-color:#545475}
[short~="bg-bluegrey-h"]:hover{background-color:#545475}
[short~="bg-black"]{background-color:rgb(0, 0, 0)}
[short~="bg-black-h"]:hover{background-color:rgb(0, 0, 0)}
[short~="bg-white"]{background-color:rgb(255, 255, 255)}
[short~="bg-white-h"]:hover{background-color:rgb(255, 255, 255)}
[short~="fc-lg"]{color:#ededed}
[short~="fc-lg-h"]:hover{color:#ededed}
[short~="fc-dg"]{color:#5c5c5c}
[short~="fc-dg-h"]:hover{color:#5c5c5c}
[short~="fc-blue"]{color:rgb(0,0,255)}
[short~="fc-blue-h"]:hover{color:rgb(0,0,255)}
[short~="fc-bluegrey"]{color:#545475}
[short~="fc-bluegrey-h"]:hover{color:#545475}
[short~="fc-black"]{color:rgb(0, 0, 0)}
[short~="fc-black-h"]:hover{color:rgb(0, 0, 0)}
[short~="fc-white"]{color:rgb(255, 255, 255)}
[short~="fc-white-h"]:hover{color:rgb(255, 255, 255)}
[short~="ff-sans"]{font-family:system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue}
[short~="ta"]{top:auto}
[short~="tmobile"]{top:2.6rem}
[short~="t0"]{top:0}
[short~="t10"]{top:10%}
[short~="t20"]{top:20%}
[short~="t25"]{top:25%}
[short~="t30"]{top:30%}
[short~="t33-3"]{top:33.3%}
[short~="tv6-25"]{top:6.25vh}
[short~="tv12-5"]{top:12.5vh}
[short~="tv15"]{top:15vh}
[short~="tv20"]{top:20vh}
[short~="tv25"]{top:25vh}
[short~="tw25"]{top:25vw}
[short~="tv75"]{top:75vh}
[short~="tv100"]{top:100vh}
[short~="t50"]{top:50%}
[short~="t66-7"]{top:66.7%}
[short~="t70"]{top:70%}
[short~="t75"]{top:75%}
[short~="t80"]{top:80%}
[short~="t90"]{top:90%}
[short~="t100"]{top:100%}
[short~="la"]{left:auto}
[short~="lmobile"]{left:2.6rem}
[short~="l0"]{left:0}
[short~="l10"]{left:10%}
[short~="l20"]{left:20%}
[short~="l25"]{left:25%}
[short~="l30"]{left:30%}
[short~="l33-3"]{left:33.3%}
[short~="lv6-25"]{left:6.25vh}
[short~="lv12-5"]{left:12.5vh}
[short~="lv15"]{left:15vh}
[short~="lv20"]{left:20vh}
[short~="lv25"]{left:25vh}
[short~="lw25"]{left:25vw}
[short~="lv75"]{left:75vh}
[short~="lv100"]{left:100vh}
[short~="l50"]{left:50%}
[short~="l66-7"]{left:66.7%}
[short~="l70"]{left:70%}
[short~="l75"]{left:75%}
[short~="l80"]{left:80%}
[short~="l90"]{left:90%}
[short~="l100"]{left:100%}
[short~="ha"]{height:auto}
[short~="hmobile"]{height:2.6rem}
[short~="h0"]{height:0}
[short~="h10"]{height:10%}
[short~="h20"]{height:20%}
[short~="h25"]{height:25%}
[short~="h30"]{height:30%}
[short~="h33-3"]{height:33.3%}
[short~="hv6-25"]{height:6.25vh}
[short~="hv12-5"]{height:12.5vh}
[short~="hv15"]{height:15vh}
[short~="hv20"]{height:20vh}
[short~="hv25"]{height:25vh}
[short~="hw25"]{height:25vw}
[short~="hv75"]{height:75vh}
[short~="hv100"]{height:100vh}
[short~="h50"]{height:50%}
[short~="h66-7"]{height:66.7%}
[short~="h70"]{height:70%}
[short~="h75"]{height:75%}
[short~="h80"]{height:80%}
[short~="h90"]{height:90%}
[short~="h100"]{height:100%}
[short~="wa"]{width:auto}
[short~="wmobile"]{width:2.6rem}
[short~="w0"]{width:0}
[short~="w10"]{width:10%}
[short~="w20"]{width:20%}
[short~="w25"]{width:25%}
[short~="w30"]{width:30%}
[short~="w33-3"]{width:33.3%}
[short~="wv6-25"]{width:6.25vh}
[short~="wv12-5"]{width:12.5vh}
[short~="wv15"]{width:15vh}
[short~="wv20"]{width:20vh}
[short~="wv25"]{width:25vh}
[short~="ww25"]{width:25vw}
[short~="wv75"]{width:75vh}
[short~="wv100"]{width:100vh}
[short~="w50"]{width:50%}
[short~="w66-7"]{width:66.7%}
[short~="w70"]{width:70%}
[short~="w75"]{width:75%}
[short~="w80"]{width:80%}
[short~="w90"]{width:90%}
[short~="w100"]{width:100%}
[short~="fs0-6"]{font-size:0.6rem}
[short~="fs0-8"]{font-size:0.8rem}
[short~="fs1"]{font-size:1rem}
[short~="fs1-2"]{font-size:1.2rem}
[short~="fs1-4"]{font-size:1.4rem}
[short~="fs1-6"]{font-size:1.6rem}
[short~="fs1-8"]{font-size:1.8rem}
[short~="fs2"]{font-size:2rem}
[short~="mnhmobile"]{min-height:calc(100vh - 2.5rem)}
[short~="mnh75"]{min-height:75vh}
[short~="mxhmobile"]{max-height:calc(100vh - 2.5rem)}
[short~="mxh75"]{max-height:75vh}
[short~="m0-6"]{margin:0.6rem}
[short~="m0-8"]{margin:0.8rem}
[short~="m2-2"]{margin:2.2rem}
[short~="m2-4"]{margin:2.4rem}
[short~="m2-6"]{margin:2.6rem}
[short~="mt0-6"]{margin-top:0.6rem}
[short~="mt0-8"]{margin-top:0.8rem}
[short~="mt2-2"]{margin-top:2.2rem}
[short~="mt2-4"]{margin-top:2.4rem}
[short~="mt2-6"]{margin-top:2.6rem}
[short~="mb0-6"]{margin-bottom:0.6rem}
[short~="mb0-8"]{margin-bottom:0.8rem}
[short~="mb2-2"]{margin-bottom:2.2rem}
[short~="mb2-4"]{margin-bottom:2.4rem}
[short~="mb2-6"]{margin-bottom:2.6rem}
[short~="p0-6"]{padding:0.6rem}
[short~="p0-8"]{padding:0.8rem}
[short~="p2-2"]{padding:2.2rem}
[short~="p2-4"]{padding:2.4rem}
[short~="p2-6"]{padding:2.6rem}
[short~="pt0-6"]{padding-top:0.6rem}
[short~="pt0-8"]{padding-top:0.8rem}
[short~="pt2-2"]{padding-top:2.2rem}
[short~="pt2-4"]{padding-top:2.4rem}
[short~="pt2-6"]{padding-top:2.6rem}
[short~="pb0-6"]{padding-bottom:0.6rem}
[short~="pb0-8"]{padding-bottom:0.8rem}
[short~="pb2-2"]{padding-bottom:2.2rem}
[short~="pb2-4"]{padding-bottom:2.4rem}
[short~="pb2-6"]{padding-bottom:2.6rem}
[short~="lsn"]{list-style:none}
[short~="lh1"]{line-height:1rem}
[short~="lh1-2"]{line-height:1.2rem}
[short~="lh1-4"]{line-height:1.4rem}
[short~="lh1-6"]{line-height:1.6rem}
[short~="lh1-8"]{line-height:1.8rem}
[short~="lh2"]{line-height:2rem}
[short~="wbba"]{word-break:break-all}
[short~="wbbw"]{word-break:break-word}
[short~="try75"]{transform:translateY(75vh)}
[short~="try100"]{transform:translateY(100vh)}
[short~="trymobile"]{transform:translateY(calc(100vh - 2.6rem))}
} 
  html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings:"kern" 1; 
    -ms-font-feature-settings:"kern" 1; 
    -o-font-feature-settings:"kern" 1; 
    -webkit-font-feature-settings:"kern" 1; 
    font-feature-settings:"kern" 1;
    font-kerning: normal;
  }
  .mobile-scroll {
    -webkit-overflow-scrolling: touch;
  }

  .navRow, #about, #work, #contact, .link, .workImg {
    transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .navRow:hover {
    transform: translateY(-.5rem)
  }
  .panel-active {
    transform: translateY(0);
  }
  .workImg {
    height: 6.25vh;
    width: calc(6.25vh * 1.96829971182);
    border-radius: 5%;
    margin-right: 0.8rem;
    transition: transform .15s;
  }
  .workEntry:hover > div > .workImg {
    transform: translateX(-16px) scale(1.15);
  }
  @media (max-height: 500px) {
    .navRow:hover {
      transform: translateY(-.25rem)
    }
  }
  @media (orientation: portrait), (max-width: 650px) {
    .navRow:hover {
      transform: unset;
    }
  }
